<?xml version="1.0"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <appSettings>
    <add key="ConnectionString" value="driver={{IBM DB2 ODBC DRIVER}};Database=DBPD01;hostname=10.0.32.97;port=60001;protocol=TCPIP;uid=admusr;pwd={0}"/>
    <add key="Password" value="kNU8Id9jU2tYuK7Un+0iCw=="/>
  </appSettings>
</configuration>
